/* Alapszínek megadása későbbi könnyebb módosításhoz és a mód választó könnyebb kezeléséhez */
:root {
    /* *-light elsodleges szin */
    /* *-dark masodlagos szin */
    --color-light: white;
    --color-dark: #000000;
    --nav-link-dark: #eeeeee;
    --nav-link-light: #555;
    --nav-shadow-light: rgba(0, 0, 0, 0.15);
    --nav-shadow-dark: rgba(255, 255, 255, 0.15);
    --theme-switcher-light: #d4d4d4;
    --theme-switcher-dark: #4d4d4d;
    --main-color: #5d5fef;
    --main-color-light: #a7a8e6;
    --main-color-dark: #2f3068;
    --hover: #eeefff;



    --color-1: var(--color-light);
    --color-2: var(--color-dark);

    --nav-link-1: var(--nav-link-light);
    --nav-link-2: var(--nav-link-dark);

    --nav-shadow-1: var(--nav-shadow-light);
    --nav-shadow-2: var(--nav-shadow-dark);

    --theme-switcher-1: var(--theme-switcher-light);

    --main-color-1: var(--main-color-light);

    --nav-link-switch-1: var(--main-color);
    --nav-link-switch-2: var(--hover);
}


body {
    background-color: var(--color-1);
    color: var(--color-2);
    padding-top: 50px;
    margin: 0;
}


/* Sötét és világos mód színváltások és a mód választó ikon változtatása */
body.dark-mode {
    --color-1: var(--color-dark);
    --color-2: var(--color-light);
    --nav-link-1: var(--nav-link-dark);
    --nav-link-2: var(--nav-link-light);
    --nav-shadow-1: var(--nav-shadow-dark);
    --nav-shadow-2: var(--nav-shadow-light);
    --theme-switcher-1: var(--theme-switcher-dark);
    --main-color-1: var(--main-color-dark);
    --nav-link-switch-1: var(--hover);
    --nav-link-switch-2: var(--main-color);
}


/* ==========================================================================
   NAVBAR STÍLUSOK 
   ========================================================================== */
body #theme-switcher svg:last-child {
    display: none;
}

body.dark-mode #theme-switcher svg:first-child {
    display: none;
}

body.dark-mode #theme-switcher svg:last-child {
    display: flex;
}


.fixed-top {
    background: transparent;
    pointer-events: none;
    margin: 0;
}

.navbar {
    pointer-events: auto;
    top: 20px;
    margin: auto;
    width: 50%;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 4px 20px var(--nav-shadow-1);
    border: none;
    backdrop-filter: blur(10px);
}

.logo-container {
    position: relative;
    z-index: 100;
}

.logo-circle {
    background-color: var(--main-color);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--color-1);
    position: absolute;
    top: -15px;
    transform: translateY(10px);
    box-shadow: 0 4px 12px var(--nav-shadow-1);
}

.logo-circle img {
    width: 70%;
    height: auto;
}

.brand-text {
    margin-left: 75px;
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--color-2);
    letter-spacing: 1px;
}

.brand-text:hover {
    color: var(--theme-switcher-1);
}

.brand-text span {
    color: var(--main-color);
}

.brand-text span:hover,
.brand-text:hover span {
    color: var(--main-color-1);
}

.nav-link {
    font-weight: 600;
    color: var(--nav-link-1);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem !important;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
}

.nav-item {
    margin: 0 2px;
    background: transparent;
}

.nav-item.active .nav-link {
    background-color: var(--nav-link-switch-2);
    color: var(--nav-link-switch-1);
}

.nav-item.active .nav-link:hover,
.nav-link:hover {
    background-color: var(--nav-link-switch-1);
    color: var(--nav-link-switch-2);
}

.navbar-toggler {
    background-color: var(--main-color-light);
}

.container-fluid.navbar-container {
    padding: 0;
}

#theme-switcher {
    background-color: var(--theme-switcher-1);
    color: var(--color-1);
    border-radius: 50%;
    border: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switcher:hover {
    color: var(--color-2);
    transform: rotate(180deg);
    transition: color 0.5s ease, transform 0.5s ease;
}

#nav-buttons {
    display: flex;
}

#nav-buttons #theme-switcher {
    display: none;
}

/* Profil gomb es a dropdown menujenek stilusai */
.account-btn {
    background-color: var(--nav-link-switch-2);
    color: var(--nav-link-switch-1);
    border: none;
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.account-btn:hover,
.account-btn.show {
    background-color: var(--nav-link-switch-1);
    color: var(--nav-link-switch-2);
}

.account-dropdown-card {
    background: var(--color-1);
    color: var(--color-2);
    min-width: 240px;
    padding: 15px;
    margin-top: 20px !important;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 20px var(--nav-shadow-1);

    /* Ez azert kell mert a gombhoz kepest nem kozepen jelenik meg a dropdown menu */
    left: 50% !important;
    right: auto;
    transform: translateX(-50%);
}

.login-item {
    margin-bottom: 10px;
}

.login-item,
.register-item {
    background: var(--nav-link-switch-2);
    color: var(--nav-link-switch-1);
    font-weight: 600;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

.login-item:hover,
.register-item:hover {
    background-color: var(--nav-link-switch-1);
    color: var(--nav-link-switch-2);
}



/* ==========================================================================
   Mobil nézet
   ========================================================================== */
@media (max-width: 600px) {
    .navbar {
        width: 75%;
    }
}

/* ==========================================================================
   Tabletes nézet
   ========================================================================== */
@media (max-width: 991px) {
    .navbar {
        border-radius: 20px;
    }

    .brand-text {
        margin-left: 65px;
    }

    .logo-circle {
        width: 55px;
        height: 55px;
        transform: translateY(10px);
    }


    .nav-actions {
        margin-top: 15px;
        flex-direction: column;
    }

    .navbar-collapse {
        padding: 20px 0 5px 0;
    }


    .navbar-nav {
        gap: 5px;
    }

    #theme-switcher {
        display: none;
    }

    #nav-buttons #theme-switcher {
        display: flex;
    }

    .account-btn {
        margin-top: 5px;
    }

    .account-dropdown-card {
        margin-top: 20px !important;
        left: -25px !important;
        right: 0;
        transform: none;
    }

}

/* Navbar szélességének változtatása különben rosszul csúszik össze */
@media (max-width: 1400px) {
    .navbar {
        width: 75%;
    }
}