/* Alapszínek megadása későbbi könnyebb módosításhoz és a mód választó könnyebb kezeléséhez */
:root {
    /* *-light elsodleges szin */
    /* *-dark masodlagos szin */
    --color-light: white;
    --color-dark: #000000;
    --nav-link-dark: #eeeeee;
    --nav-link-light: #555;
    --nav-shadow-light: rgba(0, 0, 0, 0.15);
    --nav-shadow-dark: rgba(255, 255, 255, 0.15);
    --theme-switcher-light: #d4d4d4;
    --theme-switcher-dark: #4d4d4d;
    --main-color: #5d5fef;
    --main-color-light: #a7a8e6;
    --main-color-dark: #2f3068;



    --color-1: var(--color-light);
    --color-2: var(--color-dark);

    --nav-link-1: var(--nav-link-light);
    --nav-link-2: var(--nav-link-dark);

    --nav-shadow-1: var(--nav-shadow-light);
    --nav-shadow-2: var(--nav-shadow-dark);

    --theme-switcher-1: var(--theme-switcher-light);

    --main-color-1: var(--main-color-light);
}


body {
    background-color: var(--color-1);
    color: var(--color-2);
    padding-top: 50px;
    margin: 0;
}


/* Sötét és világos mód színváltások és a mód választó ikon változtatása */
body.dark-mode {
    --color-1: var(--color-dark);
    --color-2: var(--color-light);
    --nav-link-1: var(--nav-link-dark);
    --nav-link-2: var(--nav-link-light);
    --nav-shadow-1: var(--nav-shadow-dark);
    --nav-shadow-2: var(--nav-shadow-light);
    --theme-switcher-1: var(--theme-switcher-dark);
    --main-color-1: var(--main-color-dark);
    /* --theme-switcher-icon-1: var(--sun-color);
    --theme-switcher-icon-2: var(--main-color); */
}


/* ==========================================================================
   NAVBAR STÍLUSOK 
   ========================================================================== */
body #theme-switcher svg:last-child {
    display: none;
}

body.dark-mode #theme-switcher svg:first-child {
    display: none;
}

body.dark-mode #theme-switcher svg:last-child {
    display: flex;
}


.fixed-top {
    background: transparent;
    pointer-events: none;
    margin: 0;
}

.navbar {
    pointer-events: auto;
    top: 20px;
    margin: auto;
    width: 50%;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 4px 20px var(--nav-shadow-1);
    border: none;
    backdrop-filter: blur(10px);
}

.logo-container {
    position: relative;
    z-index: 100;
}

.logo-circle {
    background-color: var(--main-color);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--color-1);
    position: absolute;
    top: -15px;
    transform: translateY(10px);
    box-shadow: 0 4px 12px var(--nav-shadow-1);
}

.logo-circle img {
    width: 70%;
    height: auto;
}

.brand-text {
    margin-left: 75px;
    font-weight: 800;
    font-size: 1.25rem;
    color: var(--color-2);
    letter-spacing: 1px;
}

.brand-text:hover{
    color: var(--theme-switcher-1);
}

.brand-text span {
    color: var(--main-color);
}

.brand-text span:hover, .brand-text:hover span{
    color: var(--main-color-1);
}

.nav-link {
    font-weight: 600;
    color: var(--nav-link-1);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem !important;
}

.navbar-nav.mx-auto .nav-item {
    margin: 0 2px;
    background: transparent;
}

.navbar-nav.mx-auto .nav-link {
    font-weight: 600;
    color: var(--nav-link-1);
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
}

.navbar-nav.mx-auto .nav-item.active .nav-link {
    background-color: #eeefff;
    color: var(--main-color);
}

.navbar-nav.mx-auto .nav-item.active .nav-link:hover,
.navbar-nav.mx-auto .nav-link:hover {
    background-color: var(--main-color);
    color: white;
}

.signin-login-div{
    display: flex;
    gap: 5px;
}

.login-link {
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: 12px;
    padding: 8px 24px;
    font-weight: 600;
    transition: 0.3s;
}

.login-link:hover {
    background-color: var(--theme-switcher-1);
    color: var(--nav-link-1);
}

.signin-link{
    background-color: var(--theme-switcher-1);
    color: var(--nav-link-1);
    border-radius: 12px;
    padding: 8px 24px;
    font-weight: 600;
    transition: 0.3s;
}

.signin-link:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}

.navbar-toggler {
    background-color: #eeefff;
}

.container-fluid {
    padding: 0;
}

#theme-switcher {
    background-color: var(--theme-switcher-1);
    color: var(--color-1);
    border-radius: 50%;
    border: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme-switcher:hover {
    color: var(--color-2); 
    transform: rotate(180deg);
    transition: color 0.5s ease, transform 0.5s ease;
}

#nav-buttons {
    display: flex;
}

#nav-buttons #theme-switcher {
    display: none;
}

/* ==========================================================================
   Bejelentkezes/Regisztracio ablakok
   ========================================================================== */

.login-card {
    border-radius: 24px;
    padding: 40px;
    border: none;
    position: relative;
    background-color: var(--color-1);
    color: var(--color-2);
    box-shadow: 0 4px 20px var(--nav-shadow-1);
}

.btn-close-custom {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--nav-link-1);
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s;
}

.btn-close-custom:hover {
    color: var(--color-2);
}

.modal-title span{
    color: var(--main-color);
}

.login-input-field {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-input-field label{
    margin-bottom: 2px;
}

.modal-content .modal-title, .modal-content .subtitle, .modal-content .extra-options label, .modal-content .footer-text, .login-input-field label{
    margin-left: 3px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 8px 15px;
    background: var(--color-1);
}

.input-wrapper input {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    background: var(--color-1);
    color: var(--color-2);
}

.login-btn, .account-create-btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: var(--main-color);
    color: white;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    box-shadow: 0 4px 15px rgba(93, 95, 239, 0.3);
}

.extra-options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 15px 0;
}

.eye-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-2);
}

.eye-btn:hover {
    color: var(--main-color);
}

.extra-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.extra-options input[type="checkbox"] {
    cursor: pointer;
}

#eye-open{
    display: block;
}

#eye-closed{
    display: none;
}


/* ==========================================================================
   Mobil nézet
   ========================================================================== */
@media (max-width: 600px) {
    .navbar {
        width: 75%;
    }
}

/* ==========================================================================
   Tabletes nézet
   ========================================================================== */
@media (max-width: 991px) {
    .navbar {
        border-radius: 20px;
    }

    .brand-text {
        margin-left: 65px;
    }

    .logo-circle {
        width: 55px;
        height: 55px;
        transform: translateY(10px);
    }


    .nav-actions {
        margin-top: 15px;
        flex-direction: column;
    }

    .navbar-collapse {
        padding: 20px 0;
    }


    .navbar-nav {
        gap: 5px;
    }

    .signin-link, .login-link{
        width: 100%;
    }

    #theme-switcher {
        display: none;
    }

    #nav-buttons #theme-switcher {
        display: flex;
    }

    .signin-login-div{
        flex-direction: column;
        align-items: start;
        width: 88px;
        margin-top: 5px;
        gap: 5px;
    }


}

/* Navbar szélességének változtatása különben rosszul csúszik össze */
@media (max-width: 1400px) {
    .navbar {
        width: 75%;
    }
}